@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #45bedf;
    --color-font: black;
    --color-background-alt: #d5effc;
  }
}

@layer utilities {
  .anchor-center {
    alignment-baseline: middle;
    text-anchor: middle;
  }
}
